.crystal-image {
      width: 150px;
      height: 150px;
}

h2 {
    font-size: small !important;
}

.row1 {
    background-color: brown !important;
    color: white !important;
    width: 32% !important;
}

.row2 {
    color: green !important;
    background-color: orange !important;
    padding-top: 20px;
    padding-bottom: 75px;
}

.row3 {
    font-size: x-large !important;
    background-color: green !important;
    color: black !important;
    width: 225px;
    padding-bottom: 120px;
}


body {
    background-color: aqua !important;
}